.toggle-list {
    
    
    &__list {
        list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove padding */
        margin: 0;

        li {
            margin-top: $primary-margin;
            margin-bottom: $primary-margin;
        }

    }
    &__button {
        font-size: 1.2rem;
        font-weight: 200;
        display:flex;
        border: none;
        background-color: #0000;
        width:100%;
        cursor:pointer;
        padding: $primary-margin;   
    }

    &__icon {
        margin-left: $primary-margin;
        margin-right: 2rem;
    }

    &__title {
        text-align: left;
    }
}